@import 'tailwindcss';
@import 'tw-animate-css';
@import 'fumadocs-ui/css/shadcn.css';
@import 'fumadocs-ui/css/preset.css';

@custom-variant dark (&:is(.dark *));

@theme inline {
  --breakpoint-sm: 450px;
  --breakpoint-md: 650px;
  --breakpoint-lg: 950px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1920px;
  --container-3xs: 200px;
  --container-2xs: 325px;
  --container-xs: 450px;
  --container-sm: 525px;
  --container-md: 575px;
  --container-lg: 650px;
  --container-xl: 775px;
  --container-2xl: 850px;
  --container-3xl: 900px;
  --container-4xl: 950px;
  --container-5xl: 1000px;
  --container-6xl: 1050px;
  --container-7xl: 1080px;
  --container-prose: 65ch;
  --radius-2xs: calc(var(--radius) * 0.25);
  --radius-xs: calc(var(--radius) * 0.5);
  --radius-sm: calc(var(--radius) * 0.75);
  --radius-base: var(--radius);
  --radius-lg: calc(var(--radius) * 1.25);
  --radius-xl: calc(var(--radius) * 1.5);
  --radius-max: calc(var(--radius) * Infinity);
  --font-sans: 'Verdana', sans-serif;
  --font-serif: 'Adobe Garamond Pro', serif;
  --font-mono: 'Courier New', monospace;
  --font-adobe-garamond-pro: 'Adobe Garamond Pro', serif;
  --font-homestuck: 'Homestuck', monospace;
  --color-primary-border: color-mix(in oklch, var(--primary) 100%, var(--foreground) 50% );
  --color-secondary-border: color-mix(in oklch, var(--secondary) 100%, var(--foreground) 50% );
  --color-destructive-border: color-mix(in oklch, var(--destructive) 100%, var(--foreground) 50% );
  --shadow-extrude-base: 1px 1px 0px var(--tw-shadow-color, rgb(0 0 0 / 1)), 2px 2px 0px var(--tw-shadow-color, rgb(0 0 0 / 1));
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-toast-border: var(--toast-border);
  --color-toast-outline: var(--toast-outline);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-destructive: var(--destructive);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-main-foreground: var(--main-foreground);
  --color-main: var(--main);
  --color-foreground: var(--foreground);
  --color-background: var(--background);
  --radius-md: calc(var(--radius) - 2px);
}

:root {
  --radius: 0rem;
  --background: #ffffff;
  --foreground: #000000;
  --main: #535353;
  --main-foreground: #ffffff;
  --card: #eeeeee;
  --card-foreground: #000000;
  --popover: #ffffff;
  --popover-foreground: #000000;
  --primary: #9a9a9a;
  --primary-foreground: #000000;
  --secondary: #e0e0e0;
  --secondary-foreground: #000000;
  --destructive: #ff0000;
  --destructive-foreground: #ffffff;
  --muted: #eeeeee;
  --muted-foreground: #535353;
  --accent: #4ce24e;
  --accent-foreground: #ffffff;
  --border: #c6c6c6;
  --input: #9a9a9a;
  --ring: #4ce24e;
  --toast-outline: #c6c6c6;
  --toast-border: #b8b8b8;
  --sidebar: #535353;
  --sidebar-foreground: #ffffff;
}

.dark {
  --background: #000000;
  --foreground: #ffffff;
  --main: #000000;
  --main-foreground: #ffffff;
  --card: #323232;
  --card-foreground: #ffffff;
  --popover: #000000;
  --popover-foreground: #ffffff;
  --primary: #b8b8b8;
  --primary-foreground: #ffffff;
  --secondary: #535353;
  --secondary-foreground: #ffffff;
  --destructive: #ff0000;
  --destructive-foreground: #ffffff;
  --muted: #535353;
  --muted-foreground: #c6c6c6;
  --accent: #900fff;
  --accent-foreground: #eeeeee;
  --border: #9a9a9a;
  --input: #9a9a9a;
  --ring: #900fff;
  --toast-outline: #9a9a9a;
  --toast-border: #535353;
  --sidebar: #000000;
  --sidebar-foreground: #ffffff;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@utility animate-text-ultimate-reward {
    animation-composition: add;
}

@utility border-image-* {
    border-image: --value(--border-image- *);
}

@utility shadow-extrude-* {
    --tw-shadow: --value(--shadow-extrude- *);
    box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
}

@utility text-shadow-extrude-* {
    --extrude-x: --modifier(--extrude--x- *);
    --extrude-y: --modifier(--extrude--y- *);
    text-shadow: --value(--text-shadow-extrude- *);
}

@utility extrude-* {
    --extrude-x: --value(--extrude--x- *);
    --extrude-y: --value(--extrude--y- *);
}